[submodule "qbs"]
	path = qbs
	url = https://github.com/hkarel/QbsExt.git
[submodule "src/shared/shared"]
	path = src/shared/shared
	url = https://github.com/hkarel/SharedTools.git
[submodule "src/toxcore/toxcore"]
	path = src/toxcore/toxcore
	url = https://github.com/TokTok/c-toxcore.git
[submodule "src/usbrelay"]
	path = src/usbrelay
	url = https://github.com/hkarel/UsbRelay.git
[submodule "src/yaml"]
	path = src/yaml
	url = https://github.com/hkarel/yaml-cpp.git
[submodule "src/pproto/pproto"]
	path = src/pproto/pproto
	url = https://github.com/hkarel/PProtoCpp.git
[submodule "src/qrcode/QR-Code-generator"]
	path = src/qrcode/QR-Code-generator
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "src/toxfunc/toxfunc"]
	path = src/toxfunc/toxfunc
	url = https://github.com/hkarel/ToxFunc.git
